<!DOCTYPE html>
<html lang="bg">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Добре дошли в Troll Lab</title>
</head>
<body>
<div class="intro-text" id="introText">
    <h1>Welcome to Troll Lab!</h1>
    <p>Troll Lab is an application designed to analyze comments on video sharing and social media platforms. With our app, you can easily draw your own conclusions based on user comments, detect trolling behavior and recognize negative content that can degrade the quality of online discussions.</p>
    <p><strong>What does Troll Lab offer?</strong></p>
    <p><strong>Detailed analysis of comments:</strong><br>
        Troll Lab uses various text analysis algorithms to view and sort in multiple ways the comments under videos or posts. The application identifies potential trolls by recognizing suspicious user behavior patterns.</p>
    <p><strong>View User Profile:</strong><br>
        Through the detailed review of a user's profile, the system displays their overall behavior in the comments, through which you can recognize certain patterns that are often associated with trolling behavior.</p>
    <p><strong>Search by word:</strong><br>
        This feature is a powerful tool that allows you to filter and analyze comments based on specific keywords or phrases. This feature is designed to facilitate the discovery of certain topics, terms, or behavior in comments that may be of particular importance for content moderation and analysis.</p>
    <p>On platforms where important discussions take place, be it about work, education or social topics, Troll Lab helps ensure that comments are respectful and productive. Detected troll content can be quickly identified.</p>
    <p>By detecting patterns of behavior related to spreading false information or manipulating discussions, the app helps prevent the spread of fake news and other forms of misinformation.</p>
    <p>With Troll Lab, you can enjoy a cleaner and more constructive online environment by taking negative behavior under control and doing your own analysis and detailed impressions of comments.</p>
    <p><strong>How to start?</strong><br>
        To get started with Troll Lab, simply paste a YouTube video URL into the field provided and hit Analyze.</p>
</div>
</body>
</html>
