/* Основни стилове */
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
    display: block;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.input-container, .comments-container {
    width: 80%;
    max-width: 800px;
    margin: 20px auto;
}

.input-panel, .comments-panel {
    background-color: white;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

h1 {
    color: #555;
    margin-bottom: 20px;
}

form {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    margin-right: 10px;
}

input[type="text"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 60%;
    margin-bottom: 10px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #45a049;
}

/* Контейнер за коментари */
.comments-panel {
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    text-align: left;
    margin-top: 20px; /* Добавен margin-top за разделение от формата */
}

.comment {
    border-bottom: 1px solid #eee;
    padding: 10px 0;
}

.comment:last-child {
    border-bottom: none;
}

.comment-content {
    display: flex;
    flex-direction: column;
}

.comment-author-name {
    font-weight: bold;
    margin-bottom: 5px;
}

.comment-text {
    margin-bottom: 5px;
}

.comment-metadata {
    display: flex;
    justify-content: space-between;
    font-size: 0.85em;
    color: #777;
}

/* Пагинация */
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.pagination a {
    margin: 0 5px;
    padding: 10px 15px;
    text-decoration: none;
    color: #4CAF50;
    border: 1px solid #ddd;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

.pagination a:hover {
    background-color: #4CAF50;
    color: white;
}

.pagination span {
    margin: 0 5px;
    padding: 10px 15px;
    color: #555;
}
