body {
    background: linear-gradient(120deg, #000000, #0f5454);
    font-family: 'Arial', sans-serif;
}

.container {
    background: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

.title {
    font-size: 2.5rem;
    color: #5e5e5e;
    font-weight: bold;
}

.card {
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.card-body {
    padding: 20px;
}

.card-title {
    font-size: 1.5rem;
    color: #4d4d4d;
    margin-bottom: 15px;
}

.scroll-container {
    max-height: 300px;
    overflow-y: auto;
}

#commentContainer {
    background: #ffffff;
    border-radius: 10px;
    padding: 10px;
}

#commentList li {
    background: #cff2ff;
    border-radius: 10px;
    margin-bottom: 10px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#giftList li, #joinList li, #statusList li, #errorList li {
    margin-bottom: 10px;
}

.btn-primary {
    background-color: #fe2c55;
    border-color: #fe2c55;
}

.btn-primary:hover {
    background-color: #e62d4f;
    border-color: #e62d4f;
}

.form-control {
    border-radius: 20px;
}

.card-header {
    background: #fe2c55;
    color: white;
    border-radius: 15px 15px 0 0;
}

.card-footer {
    background: #f0f2f5;
    border-radius: 0 0 15px 15px;
}
/* Центриране на заглавието */
#liveDataSection h2 {
    text-align: center;
    margin-bottom: 20px;
}