<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trolls Analysis</title>
    <link rel="stylesheet" href="/css/index.css">
    <script src="/js/scripts.js" defer></script> <!-- Link to your JavaScript file -->
    <style>
        body {
            background: url('/static/images/troll4.jpg') repeat center top;
            background-size: cover;
            transition: background 1s ease-in-out;
        }

        body.loaded1 {
            background:
                    url('/images/troll1.jpg') no-repeat center top,
                    url('/images/troll2.jpg') no-repeat center center,
                    url('/images/troll3.jpg') no-repeat center bottom;
            background-size: cover, cover, cover;
        }
        .highlight {
            color: #eeeeee;
            background-color: #542eff;
            font-weight: bold;
        }
    </style>
</head>
<body class="loaded1">

<div class="container">
    <div class="input-container">
        <div class="input-panel">
            <header>
                <img src="/images/logo.png" alt="Project Logo">
            </header>
            <h1>Comments Analysis</h1>
            <form action="/comments" method="get">
                <label for="videoUrl">Paste here YouTube Video URL :</label>
                <input type="text" id="videoUrl" name="videoUrl" th:value="${videoUrl}">
                <button type="submit">Analyze</button>
            </form>
            <form action="/liveComments" method="get">
                <label for="liveVideoUrl">Paste here YouTube LIVE Video URL :</label>
                <input type="text" id="liveVideoUrl" name="liveVideoUrl" th:value="${liveVideoUrl}">
                <button type="submit">Analyze</button>
            </form>
        </div>
    </div>

    <!-- Video Panel -->
    <div class="video-panel" th:if="${videoUrl != null}">
        <iframe
                src="https://www.youtube.com/embed/{videoId}"
                th:src="'https://www.youtube.com/embed/' + ${videoId}"
                allowfullscreen>
        </iframe>
    </div>

    <div class="comments-container">
        <div th:if="${comments != null}" class="comments-panel">
            <h2>Total comments: <span th:text="${allComments.size()}"></span></h2>
            <div class="sorting-live-form-container" style="display: flex; ">
                <div class="sort-form" style="margin-top: 35px">
                    <label for="sort">Sort by:</label>
                    <select id="sort" name="sort" onchange="sortBySelectedOption()">
                        <option value="newest">Newest</option>
                        <option value="oldest">Oldest</option>
                        <option value="only-replied">Only Replied Comments</option>
                        <option value="most-liked">Most Liked Troll</option>
                        <option value="most-comments">Most Comments Troll</option>
                    </select>
                </div>
                <div class="search-form" style="margin-left: 80px">
                    <form action="/searchByWord" method="get" class="search-comments-form">
                        <label for="searchingWord">Search by word:</label>
                        <input type="hidden" name="videoUrl" th:value="${videoUrl}">
                        <input type="text" id="searchingWord" name="words" th:value="${words}" autocomplete="off">
                        <button type="submit">Search</button>
                    </form>
                </div>
            </div>
            <div class="pagination" th:if="${hasPrevPage || hasNextPage}">
                <a th:if="${hasPrevPage}" th:href="@{/comments(videoUrl=${videoUrl}, page=1, sort=${sort})}">First Page</a>
                <a th:if="${hasPrevPage}" th:href="@{/comments(videoUrl=${videoUrl}, page=${currentPage - 1}, sort=${sort})}">Previous Page</a>
                <span th:text="'Page ' + ${currentPage}"></span>
                <a th:if="${hasNextPage}" th:href="@{/comments(videoUrl=${videoUrl}, page=${currentPage + 1}, sort=${sort})}">Next Page</a>
            </div>

            <div id="comments-container">
                <div th:each="comment : ${comments}" class="comment">
                    <div class="comment-content">
                        <div class="comment-author-name">
                            <form action="/user-details" method="get" target="_blank">
                                <input type="hidden" name="userId" th:value="${comment.authorDisplayName}" />
                                <input type="hidden" name="videoUrl" th:value="${videoUrl}" />
                                <button type="submit" class="btn btn-link" th:text="${comment.authorDisplayName}">Author Name</button>
                            </form>
                            <span th:text="' (' + ${comment.totalComments} + ' comments)'"></span>
                        </div>
                        <div class="comment-text" th:utext="${comment.text}"></div>
                        <div class="comment-metadata">
                            <span class="comment-date" th:text="${comment.publishedAt}"></span>
                            <span class="comment-likes" th:text="${comment.likeCount} + ' likes'"></span>
                        </div>
                    </div>
                    <div th:if="${comment.replies != null}" class="reply-container">
                        <div th:each="reply : ${comment.replies}" class="reply">
                            <div class="comment-author-name">
                                <a th:href="${reply.authorProfileUrl}" th:text="${reply.authorDisplayName}" target="_blank">Author Name</a>
                            </div>
                            <div class="comment-text" th:utext="${reply.text}"></div>
                            <div class="comment-metadata">
                                <span class="comment-date" th:text="${reply.publishedAt}"></span>
                                <span class="comment-likes" th:text="${reply.likeCount} + ' likes'"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="pagination" th:if="${hasPrevPage || hasNextPage}">
                <a th:if="${hasPrevPage}" th:href="@{/comments(videoUrl=${videoUrl}, page=1, sort=${sort})}">First Page</a>
                <a th:if="${hasPrevPage}" th:href="@{/comments(videoUrl=${videoUrl}, page=${currentPage - 1}, sort=${sort})}">Previous Page</a>
                <span th:text="'Page ' + ${currentPage}"></span>
                <a th:if="${hasNextPage}" th:href="@{/comments(videoUrl=${videoUrl}, page=${currentPage + 1}, sort=${sort})}">Next Page</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
